@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap'); 
body{
    margin: 0;
    background: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

#navbar{
    display: flex;
    border-bottom: 1px rgb(185, 182, 182) solid;
    width: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 1;
    align-items: center;
    justify-content: space-around;
}
.logo{
    max-width: 64px;
    max-height: 50px;
    padding: 12px;
    border-radius: 18px;
}
h1{
    font-size: 20px;
}
#nav-box{
    display: flex;
}
.dark-mode-moon{
    width: 20px;
    padding-left: 35px;
}
.hamburger-icon{
    width: 55px;
    padding: 5px;
    margin-left: 30px;
}
#introduce{
    margin: 30px 0px 80px 0px;
    text-align: center;
}
.title{
    font-size: 35px;
    margin: 0 5px;
    text-align: center;
}
#descript{
    color: rgb(148, 144, 144);
    font-size: 17px;
}
#head-type{
    background-color: rgb(174, 214, 202);
    border-radius: 7px 7px 0 0;
    height: 40px;

}
.ts-icon{
    width: 18px;
    height: 18px;
}
#about-me{
    width: 95%;
    margin: 10px;
    filter: drop-shadow(1px 37px 100px rgb(199, 196, 196));
}
#head-logo{
    width: 30%;
    padding: 8px;
    display: flex;
    align-items: center;
    border-top: 1px blue solid;
    border-right: 1px grey solid;
    margin-left: 12px;
}
.dot{
    width: 22px;
    
}
#type{
    background-color: white;
    overflow-x: auto;
    height: 150px;
}
span{
    color: grey;
}
code{
    color: rgb(94, 94, 94);
}
h3{
    margin: 60px 0;
    font-size: 30px;
}
.projects{
    display: flex;
    border-radius: 10px 0;
    margin-bottom: 20px;
    padding: 20px;
}
p{
    font-size: 25px;
    margin: 5px 10px;
}
.descr{
    font-size: 20px;
    color: gray;
}
#proimg{
    max-width: 100px;

}
#sub-title{
    font-size: 22px;
    color: #478ac5;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}
#text{
    font-size: 17px;
    margin: 0px 10px;
}
h3{
    margin: 50px 5px 40px;
    text-align: center;
    font-size: 32px;
}
h4{
    font-size: 30px;
    color: rgb(105, 102, 102);
    text-align: left;
    width: 1100px;
   
}
#languages{
    overflow-y: auto;
    
}
#navbar-down{
    margin: 40px 10px;
    display: flex;
}
ul{
    list-style: none;
}
ul > li{
    padding: 20px;
    padding: 20px;
    font-size: 17px;
    color: rgb(98, 96, 96);
}
#navbar-d{
    display: flex;
}
#social-media{
    display: flex;
    border-bottom: 1px grey solid;
    margin-bottom: 15px;
}
.sm-icon{
    padding: 20px 10px;
}
#status{
    display: flex;
    border-radius: 30px;
    background-color: rgba(225,234,255);
    width: 240px;
    height: 40px;
    margin: 140px 0px 38px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}
#status-icon{
    background-color: rgba(26,86,219);
    width: 38px;
    height: 30px;
    border-radius: 20px;
}
#happy{
    max-width: 22px;
    padding: 3px 8px;
}
#status-descript{
    font-size: 16px;

}
#status-1{
    display: flex;
    justify-content: center;
    
}
@media (max-width: 374px){ 
.hamburger-icon{
    display: none;
}
#navbar{
    justify-content: flex-start;
}
.dark-mode-moon {
    padding-left: 55px; 
}
}